<h2>Session: <%= @session_name %></h2>
<h3>Last Message Received: <%= @last_recorded.strftime("%m-%d-%Y %H:%m:%S") %></h3>

<table>
<thead>
<th>
Time
</th>
<th>
Parameters
</th>
</thead>
<% for item in @session_lines %>
<tr>
<td><%= item.updated_at.strftime("%m-%d-%Y %H:%M:%S")%></td>
<td><%= item.parameters%></td>
</tr>

<% end %>
</table>



