
<h1>Recorded Sessions</h1>

<table>
<thead>
<th>
Session
</th>
<th>
Last Recording
</th>
</thead>
<% for item in @recordings %>
<tr>
<td><%= link_to item.session, session_viewer_url(:id =>  item.session)  %></td>
<td><%= item. last_time.strftime("%m-%d-%Y %H:%M:%S")%></td>
</tr>

<% end %>
</table>



